@using ecom.Models;
@model CertifiedMemberApplicationView
@{
    ViewBag.Title = "Certified Member Application";
    Layout = "~/Views/Shared/_Body.cshtml";
}

<style type="text/css">
    .form-horizontal .control-label {
        text-align: left !important;
    }

    h3.panel-title {
        /*color: rgb(242,101,34);*/
        color: #e67e22;
        font-weight: bold;
    }

    a.accordion-toggle {
        text-decoration: none;
    }
</style>

<div class="col-sm-9">
    @using (Html.BeginForm("Certified", "Application", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <h3 class="panel-title">
                            <i class="fa fa-caret-down pull-right"></i>
                            Company Details
                        </h3>
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body" id="app-company-details">
                        <div class="form-group">
                            <label for="Cid" class="col-sm-3 control-label">
                                1. WCA/GAA/Lognet Member ID Number:
                            </label>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(m => m.EcomCert.Cid, new { @class = "form-control col-sm-1", @readonly = "true" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                2. List the networks you are a part of and the date your membership(s) started:
                            </label>
                            <div class="col-sm-9">
                                <ul class="list-unstyled">
                                    <li></li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Company" class="col-sm-3 control-label">
                                3. Company Name:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Company_Detail.CompName, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AddressHQ" class="col-sm-3 control-label">
                                4. Company Head office Address:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Company_Detail.AddressHQ, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Phone" class="col-sm-3 control-label">
                                5. Company Phone Number:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Company_Detail.Phone, new { @class = "form-control", placeholder = "Please include Country Code + Area Code" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Email" class="col-sm-3 control-label">
                                6. Company Contact Email:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Company_Detail.Email, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Website" class="col-sm-3 control-label">
                                7. Company Website:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Company_Detail.Website, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="WhereIncorp" class="col-sm-3 control-label">
                                8. Where is Company Incorporated?
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Company_Detail.WhereIncorp, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="YearStarted" class="col-sm-3 control-label">
                                9. Year Company was established or incorporated:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Company_Detail.YearIncorp, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="NameCEO" class="col-sm-3 control-label">
                                10. Name of Company MD or CEO:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Company_Detail.CEOName, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Contact" class="col-sm-3 control-label">
                                11. Key WCA eCommerce Contact Person:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Company_Detail.ContatPerson, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ContactPhone" class="col-sm-3 control-label">
                                12. Key WCA eCommerce Contact Person Phone Number:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Company_Detail.ContactPhone, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ContactEmail" class="col-sm-3 control-label">
                                13. Key WCA eCommerce Contact Person Email Address:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Company_Detail.ContactEmail, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="TurnOverPA" class="col-sm-3 control-label">
                                14. Annual eCommerce Shipment turn over per annum (USD):
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Company_Detail.TurnOverPA, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="TurnOverPA" class="col-sm-3 control-label">
                                15. What % of eCommerce volumes currently contribute to the organizations volume annual turnover:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Company_Detail.TurnOverPercent, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AddressBranch" class="col-sm-3 control-label">
                                16. Average weight per eCommerce package handled:
                            </label>
                            <div class="col-sm-9">
                                @foreach (EcomCert_AvgPackageWeight item in ViewBag.AveragePackageWeight)
                                {
                                    <div class="radio">
                                        <label>
                                            <input name="Company_Detail.AvgPackageWeightID" type="radio" value="@item.ID" @if (Model.Company_Detail.AvgPackageWeightID == item.ID) { @("checked")      ; } />
                                            @Html.Raw(item.Name)
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                17. Please select the type of eCommerce shipment products handled:
                            </label>
                            <div class="col-sm-9">
                                @foreach (EcomCert_Product item in ViewBag.Products)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"
                                                   name="Products_Handled"
                                                   value="@item.ID"
                                                   @if (Model.Products_Handled.Any(x => x == item.ID)) { @("checked")            } /> @item.Name
                                            </label>
                                        </div>
                                }
                                Other:
                                @Html.TextBoxFor(m => m.Company_Detail.ProductHandled_Other, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AddressBranch" class="col-sm-3 control-label">
                                18. Does your organization operate via a dedicated courier operating license or other, Please specify type:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Company_Detail.CourierOperate, new { @class = "form-control", @rows = 7 })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AddressBranch" class="col-sm-3 control-label">
                                19. Do you currently conduct any Cross Border consolidations or single DTD shipment as a main part of your business activity? If Yes, please specify details on type of cross border shipments:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Company_Detail.CrossBorder, new { @class = "form-control", @rows = 10 })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AddressBranch" class="col-sm-3 control-label">
                                20. Do you currently operate eCommerce shipments under a single MAWB, HAWB, BOL, HBL or individual consignments? Please specify type of Bills used and combination singular/mixed method:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Company_Detail.ShipmentOperate, new { @class = "form-control", @rows = 10 })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AddressBranch" class="col-sm-3 control-label">
                                21. Size of total warehouse facility in sqm/sq ft operating for this location:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Company_Detail.SizeWarehouse, new { @class = "form-control", @rows = 6 })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AddressBranch" class="col-sm-3 control-label">
                                22. Number of additional branches related to parent company that engage in ecommerce activity:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Company_Detail.NumBranch, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Employees" class="col-sm-3 control-label">
                                23. Number of current full time equiv employees - of all locations:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Company_Detail.NumEmp, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                24. Are you able to support invoicing/billing, and payments in USD?
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Detail.YN_PayUSD, true) Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Detail.YN_PayUSD, false) No
                                    </label>
                                </div>
                                @Html.TextBoxFor(m => m.Company_Detail.YN_PayUSD_RM, new { @class = "form-control", placeholder = "Remark" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                25. Can your company support electronic invoicing?
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Detail.YN_ElecINV, true) Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Detail.YN_ElecINV, false) No
                                    </label>
                                </div>
                                @Html.TextBoxFor(m => m.Company_Detail.YN_ElecINV_RM, new { @class = "form-control", placeholder = "Remark" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                26. Are you able to provide two customer references to WCA for eCommerce services you are currently providing?
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Detail.YN_RefService, true) Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Detail.YN_RefService, false) No
                                    </label>
                                </div>
                                @Html.TextBoxFor(m => m.Company_Detail.YN_RefService_RM, new { @class = "form-control", placeholder = "Reference" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                27. Does your company currently carry FSL Insurance (Errors and Omissions and Legal Liability Coverage)?
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Detail.YN_FSL, true) Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Detail.YN_FSL, false) No
                                    </label>
                                </div>
                                @Html.TextBoxFor(m => m.Company_Detail.YN_FSL_RM, new { @class = "form-control", placeholder = "Remark" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                28. Does your company currently carry cyber liability Insurance?
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Detail.YN_CyberIns, "true") Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Detail.YN_CyberIns, "false") No
                                    </label>
                                </div>
                                @Html.TextBoxFor(m => m.Company_Detail.YN_CyberIns_RM, new { @class = "form-control", placeholder = "Remark" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                29. Do you currently offer your customers cargo insurance?
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Detail.YN_CargoIns, "true") Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Detail.YN_CargoIns, "false") No
                                    </label>
                                </div>
                                @Html.TextBoxFor(m => m.Company_Detail.YN_CargoIns_RM, new { @class = "form-control", placeholder = "Remark" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <h3 class="panel-title">
                            <i class="fa fa-caret-right pull-right"></i>
                            About Your eCommerce Services
                        </h3>
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body" id="company_services">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                1. Indicate eCommerce related services your company is currently providing:
                            </label>
                            <div class="col-sm-9">
                                @foreach (EcomCert_Service_Master item in ViewBag.Services)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"
                                                   name="Services"
                                                   value="@item.ID"
                                                   @if (Model.Services.Any(x => x == item.ID)) { @("checked")     ; } /> @item.Name
                                            </label>
                                        </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="AddressHQ" class="col-sm-3 control-label">
                                2. Indicate your top 5 destinations for international eCommerce export shipment:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Company_Service.Top5Dest, new { @class = "form-control", @rows = 6 })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="AddressHQ" class="col-sm-3 control-label">
                                3. Indicate your top 5 countries for international eCommerce import shipments:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Company_Service.Top5Ctry, new { @class = "form-control", @rows = 6 })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                4. Do you currently provide any of these cross-border services?
                            </label>
                            <div class="col-sm-9">
                                @foreach (EcomCert_CrossBorder item in ViewBag.CrossBorderServices)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"
                                                   name="CrossBorderServices"
                                                   value="@item.ID"
                                                   @if (Model.CrossBorderServices.Any(x => x == item.ID)) { @("checked")    ; } /> @item.Name
                                            </label>
                                        </div>
                                }
                                Other:
                                @Html.TextBoxFor(m => m.Company_Service.CrossBorder_Other, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                5. Do you operate ground transportation services? if Yes specify type of following transport related activities carried out by your facility
                            </label>
                            <div class="col-sm-9">
                                @foreach (EcomCert_GroundService item in ViewBag.GroundServices)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"
                                                   name="GroundServices"
                                                   value="@item.ID"
                                                   @if (Model.GroundServices.Any(x => x == item.ID)) { @("checked")   ; } /> @item.Name
                                            </label>
                                        </div>
                                }
                                Other:
                                @Html.TextBoxFor(m => m.Company_Service.GroundService_Other, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                6. Do you use your own transport fleet for eCommerce deliveries or use sub-contracted/third party for domestic deliveries?
                            </label>
                            <div class="col-sm-9">
                                @foreach (EcomCert_TransportFleet item in ViewBag.TransportFleets)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"
                                                   name="TransportFleets"
                                                   value="@item.ID"
                                                   @if (Model.TransportFleets.Any(x => x == item.ID)) { @("checked")   ; } /> @item.Name
                                            </label>
                                        </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                7. Geographical coverage
                            </label>
                            <div class="col-sm-9">
                                @foreach (EcomCert_GeoCoverage item in ViewBag.GeoCoverages)
                                {
                                    <div class="radio">
                                        <label>
                                            <input name="Company_Service.GeoCoverageID" type="radio" value="4" @if (Model.Company_Service.GeoCoverageID == item.ID) { @("checked")  ; } />
                                            @Html.Raw(item.Name)
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                8. Can your company support the known shipper or known importer/exporter program
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Service.YN_SupShipper, true) Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Service.YN_SupShipper, false) No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                9. Can your company support payment on delivery?
                            </label>
                            <div class="col-sm-9">
                                @foreach (EcomCert_PaymentType item in ViewBag.PaymentTypes)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"
                                                   name="PayOnDelivery"
                                                   value="@item.ID"
                                                   @if (Model.PayOnDelivery.Any(x => x == item.ID)) { @("checked")  ; } /> @item.Name
                                            </label>
                                        </div>
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                10. Does your company have a pre-clearance process?
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Service.YN_PreClearance, true) Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Service.YN_PreClearance, false) No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                11. Does your company have an internal bonded facility or a 3<sup>rd</sup> party? If yes, please indicate:
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Service.YN_InternalBound, true) Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Service.YN_InternalBound, false) No
                                    </label>
                                </div>
                                @foreach (EcomCert_InternalBound item in ViewBag.InternalBounds)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"
                                                   name="InternalBounds"
                                                   value="@item.ID"
                                                   @if (Model.InternalBounds.Any(x => x == item.ID)) { @("checked") ; } /> @item.Name
                                            </label>
                                        </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="AddressHQ" class="col-sm-3 control-label">
                                12. Package screening process:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Company_Service.PackageProcess, new { @class = "form-control", @rows = 3 })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="AddressHQ" class="col-sm-3 control-label">
                                13. Does your company have a process for managing reverse (returns) logistics? State details
                            </label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Company_Service.ManageReverse, new { @class = "form-control", @rows = 5 })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                14. Does your company have CTPAT or AEO certification?
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Service.YN_CTPA, true) Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_Service.YN_CTPA, false) No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <h3 class="panel-title">
                            <i class="fa fa-caret-right pull-right"></i>
                            About your IT systems &amp; Capabilities
                        </h3>
                    </a>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body" id="company_capabilities">
                        <div class="form-group">
                            <label for="AddressHQ" class="col-sm-3 control-label">
                                1. What type of IT system or ERP do you use to manage eCommerce shipment clearance, deliveries &amp; POD?:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Company_IT.MangeShipmentSys, new { @class = "form-control", @rows = 5 })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AddressHQ" class="col-sm-3 control-label">
                                2. Do you use a eCommerce packages shipment API booking system or other? If yes, please specify type of software:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Company_IT.BookingSys, new { @class = "form-control", @rows = 7 })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AddressHQ" class="col-sm-3 control-label">
                                3. Details of process for shipping label creation for eCommerce shipments:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Company_IT.ProcessShip, new { @class = "form-control", @rows = 3 })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                4. Does your company support EDI transaction? If Yes, please specify details of types of transactions
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_IT.YN_EDI, true) Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_IT.YN_EDI, false) No
                                    </label>
                                </div>
                                @Html.TextBoxFor(m => m.Company_IT.YN_EDI_RM, new { @class = "form-control", placeholder = "Details" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                5. If answered "Yes" above, do you have images? If yes, please provide details
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_IT.YN_EDIImage, true) Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_IT.YN_EDIImage, false) No
                                    </label>
                                </div>
                                <input type="file" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                6. Do you provide real time package tracking information for your customers? If yes, please provide details:
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_IT.YN_PackTrack, false) No
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_IT.YN_PackTrack, true) Yes
                                    </label>
                                </div>
                                @Html.TextBoxFor(m => m.Company_IT.YN_PackTrack_RM, new { @class = "form-control", placeholder = "Details" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                7. Can your company receive XML and/or TXT files electronically?
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_IT.YN_XML, false) No
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_IT.YN_XML, true) Yes
                                    </label>
                                </div>
                                @Html.TextBoxFor(m => m.Company_IT.YN_XML_RM, new { @class = "form-control", placeholder = "Details" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AddressHQ" class="col-sm-3 control-label">
                                8. Can your IT systems process multi lingual and multiple or local currency transactions if yes please specify languages and currencies used for transactions.
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_IT.YN_MultiLing, false) No
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_IT.YN_MultiLing, true) Yes
                                    </label>
                                </div>
                                @Html.TextBoxFor(m => m.Company_IT.YN_MultiLing_RM, new { @class = "form-control", placeholder = "Details" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                9. Do you have scanning and barcode printers/labels and readers? If so please provide details
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_IT.YN_ScanBarcode, false) No
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_IT.YN_ScanBarcode, true) Yes
                                    </label>
                                </div>
                                @Html.TextBoxFor(m => m.Company_IT.YN_ScanBarcode_RM, new { @class = "form-control", placeholder = "Details" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AddressHQ" class="col-sm-3 control-label">
                                10. Name of all ERP, WMS, CRM, Customer Management, Shipping, Warehouse &amp; Operations IT systems that you currently use
                            </label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Company_IT.MangementSys, new { @class = "form-control", @rows = 7 })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                11. Do your systems support web services/API integration?
                            </label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_IT.YN_API, true) Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Company_IT.YN_API, false) No
                                    </label>
                                </div>
                                @Html.TextBoxFor(m => m.Company_IT.YN_API_RM, new { @class = "form-control", placeholder = "Details" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">
                                Remarks:
                            </label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(m => m.Company_IT.Remark, new { @class = "form-control", @rows = 5 })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="submit" class="btn btn-lg btn-primary" id="save" name="btn_save" value="save">
                        Save Draft
                    </button>
                    <button type="submit" class="btn btn-lg btn-primary" id="submit" name="btn_save" value="submit">
                        Submit Application
                    </button>
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    <script>

        $(function () {
            $('.collapse').on('shown.bs.collapse', function () {
                $(this).parent().find(".fa-caret-right").removeClass("fa-caret-right").addClass("fa-caret-down");
            }).on('hidden.bs.collapse', function () {
                $(this).parent().find(".fa-caret-down").removeClass("fa-caret-down").addClass("fa-caret-right");
            });

            $('#YN_OnDelivery').change(function () {

                $(this).is(":checked")
                    ? $('#pay-on-delivery').hide(300) : $('#pay-on-delivery').show(300);
            });

            $('#YN_OnDelivery').each(function () {

                $(this).is(":checked")
                    ? $('#pay-on-delivery').hide(300) : $('#pay-on-delivery').show(300);
            });
        });
    </script>
}
